.faq-container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
.heading-faq {
  font-size: 35px;
  font-size: normal;
  padding-bottom: 35px;
  margin-bottom:35px;
  border-bottom: 1px solid rgb(123, 135, 247);
}
.faq-container .faq-item {
  padding-bottom: 5px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(123, 135, 247);
}

.faq-container .faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-container .faq-question {
  margin: 0;
  color: black;
  font-size: 25px;
  font-weight: normal;
}

.faq-container .read {
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.faq-container .read.active {
  color: gray;
}

.faq-container .faq-answer {
  padding: 20px 0px;
  overflow: hidden;
  width: 70%;
  font-size: 19px;
  text-align: justify;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.faq-container .answer-enter {
  max-height: 0;
  opacity: 0;
}

.faq-container .answer-enter-active {
  max-height: 100px; /* Adjust based on content height */
  opacity: 1;
}

.faq-container .answer-exit {
  max-height: 100px; /* Adjust based on content height */
  opacity: 1;
}

.faq-container .answer-exit-active {
  max-height: 0;
  opacity: 0;
}

@media (max-width:480px) {
  .heading-faq{
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 45px;
  }
  .faq-container .faq-header {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    cursor: pointer;
  }
  
  .faq-container .faq-question {
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    font-weight: normal;
  }
  .faq-container .faq-answer {
    padding: 10px 0px;
    width: 100%;
    font-size: 16px;
  }
  .faq-container .faq-item {
    margin-bottom: 26px;
  }
  
}

@media (min-width:480px) and (max-width:768px) {
  .heading-faq{
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 45px;
  }
  .faq-container .faq-header {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    cursor: pointer;
  }
  
  .faq-container .faq-question {
    margin-bottom: 10px;
    color: black;
    font-size: 21px;
    font-weight: normal;
  }
  .faq-container .faq-answer {
    padding: 10px 0px;
    width: 90%;
    font-size: 17px;
  }
  .faq-container .faq-item {
    margin-bottom: 26px;
  }
}
@media (min-width:769px) and (max-width:1024px) {
  .heading-faq{
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 45px;
  }
  .faq-container .faq-header {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    cursor: pointer;
  }
  
  .faq-container .faq-question {
    margin-bottom: 10px;
    color: black;
    font-size: 23px;
    font-weight: normal;
  }
  .faq-container .faq-answer {
    padding: 10px 0px;
    width: 80%;
    font-size: 17px;
  }
  .faq-container .faq-item {
    margin-bottom: 26px;
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .heading-faq{
    font-size: 33px;
    padding-bottom: 10px;
    margin-bottom: 45px;
  }
  .faq-container .faq-header {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    cursor: pointer;
  }
  
  .faq-container .faq-question {
    margin-bottom: 10px;
    color: black;
    font-size: 24px;
    font-weight: normal;
  }
  .faq-container .faq-answer {
    padding: 10px 0px;
    width: 70%;
    font-size: 17px;
  }
  .faq-container .faq-item {
    margin-bottom: 26px;
  }
}