.feature-container {
  display: flex;
  background: #334257;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  /* width: 90%;
  margin: 0 auto; */
}

.left {
  flex: 1;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 50px 0px 50px 80px;
}

.right {
  flex: 1;
  padding-right: 170px;
}

.features {
  position: relative;
}

.features h2 {
  cursor: pointer;
  color: gray;
  /* transition: color 0.3s ease; */
  padding-left: 20px;
  position: relative;
  font-size: 42px;
}

.features h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: gray;
  /* transition: background-color 0.3s ease; */
}

.features h2.active {
  color: white;
}

.features h2.active::before {
  background-color: red;
}

.features h2.inactive:hover {
  color: darkgray;
}

.description {
  margin-top: 50px;
  padding: 0px 30px;
  position: relative;
  color: white;
  width: 80%;
  text-align: justify;
}
.description p {
  font-size: 21px;
}
.right img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 15px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 0;
  /* transition: opacity 300ms ease-in-out; */
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0;
  /* transition: opacity 300ms ease-in-out; */
}

@media (max-width:480px) {
  .feature-container {
    padding: 25px 0px 25px 0px;
    flex-direction: column;
    height: auto;
  }
  
  .left {
    padding: 25px;
  }
  
  .right {
    padding-right: 0px;
    margin: 25px;
  }
  .features h2 {
    font-size: 26px;
  } 
  .description {
    padding: 0px 0px;
    width: 100%;
    text-align: start;
  }
  .description p {
    font-size: 17px;
  }
  .right img {
    width: 100%;
  } 
}
@media (min-width:480px) and (max-width:768px) {
  .feature-container {
    padding: 25px 0px 25px 0px;
    flex-direction: column;
    height: auto;
  }
  
  .left {
    padding: 30px;
  }
  
  .right {
    padding-right: 0px;
    margin: 30px;
  }
  .features h2 {
    font-size: 30px;
  } 
  .description {
    padding: 0px 0px;
    width: 100%;
    text-align: start;
  }
  .description p {
    font-size: 18px;
  }
  .right img {
    width: 100%;
  } 
}
@media (min-width:769px) and (max-width:1024px) {
  .feature-container {
    padding: 25px 0px 25px 0px;
    flex-direction: row;
    height: auto;
  }
  
  .left {
    padding: 30px;
  }
  
  .right {
    padding-right: 0px;
    margin: 35px;
  }
  .features h2 {
    font-size: 35px;
  } 
  .description {
    padding: 0px 0px;
    width: 100%;
    text-align: start;
  }
  .description p {
    font-size: 18px;
  }
  .right img {
    width: 100%;
  } 
}
@media (min-width:1025px) and (max-width:1200px) {
  .feature-container {
    padding: 25px 0px 25px 0px;
    flex-direction: row;
    height: auto;
  }
  
  .left {
    padding: 35px;
  }
  
  .right {
    padding-right: 70px;
    margin: 45px;
  }
  .features h2 {
    font-size: 37px;
  } 
  .description {
    padding: 0px 0px;
    width: 100%;
    text-align: start;
  }
  .description p {
    font-size: 19px;
  }
  .right img {
    width: 100%;
  } 
}